.skills-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns of equal width */
    grid-template-rows: auto auto; /* 2 rows, auto-adjusting height */
    gap: 20px
  }
  
  .skills-section h2 {
    margin-bottom: 10px;  /* Space below the heading */
    text-align: center;
  }
  
  .skills-section ul {
    list-style-type: disc;  /* Bullet points for the list */
    padding-left: 20px;  /* Indentation for list items */
  }
  
  .skills-section li {
    margin-bottom: 3px;  /* Space between list items */
  }

  
  /* Ensure each subsection has its own space */
  .skills-subsection {
    margin-bottom: 20px;  /* Space between subsections */
    background-color: lightgrey;  /* Light background color */
    border: 4px solid black; /* Border around the skills */
    border-radius: 10px;    /* Rounded corners for a smoother look */
  }

  /* Style for individual grid items */
.skills-grid-item {

    padding: 5px;  /* Padding for individual items */
    text-align: center;  /* Center the text within each item */
}
  
  